@page "/items"
@inject ItemRepository itemRepository

<h3>Items</h3>
<ul>
    @foreach (var item in items)
    {
        <li>
            <div>@item.Name</div>
            <p>@item.Description</p>
            <button @onclick="()=> RemoveItem(item.Id)">Delete</button>
            
            <button @onclick="()=> EditItem(item)">Edit</button>
            
        </li>
    }
</ul>



<input type=" text" @bind="newItemName" />
<input type=" text" @bind="newItemDescription" />
@if (IsEdit)
{

    <button @onclick=" SaveItem">Save</button>
}
else
{
    <button @onclick="AddItem">Add Item</button>

}

@code {
    private IEnumerable<Item> items;
    private bool IsEdit = false;
    private string newItemName = "";
    private string newItemDescription = "";
    private int EditId;

    protected override void OnInitialized()
    {
        items = itemRepository.GetAllItems();
    }
    private void AddItem()
    {
        var newItem = new Item { Name = newItemName, Description=newItemDescription };
        itemRepository.AddItem(newItem);
        items = itemRepository.GetAllItems();
        newItemName = "";
        newItemDescription = "";

    }
    private void RemoveItem(int Id)
    {
        itemRepository.DeleteItem(Id);
        items = itemRepository.GetAllItems();
    }

    private void EditItem(Item item)
    {
        IsEdit = true;
        newItemName = item.Name;
        newItemDescription = item.Description;
        EditId = item.Id;
    }
    private void SaveItem()
    {
        var editItem = new Item { Name = newItemName, Description = newItemDescription, Id= EditId };
        itemRepository.UpdateItem(editItem);
        items = itemRepository.GetAllItems();
        IsEdit = false;
        newItemName = "";
        newItemDescription = "";

    }
}
